{% load i18n %}
{% if app_list %}
  {% for app in app_list %}
    <div class="app-{{ app.app_label }} module" id="app-{{ app.app_label }}">
      <table>
        <caption>
          <a href="{{ app.app_url }}" class="section"
             title="{% blocktrans with name=app.name %}Modelos de la aplicación {{ name }}{% endblocktrans %}">
            {{ app.name }}
          </a>
        </caption>
        <tbody>
        {% for model in app.models %}
          <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
              <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
              <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
              <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Añadir' %}</a></td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
              <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Modificar' %}</a></td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% else %}
  <p>{% trans "No tienes permisos para ver o editar nada." %}</p>
{% endif %}
